@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;    
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}
.nav-bar{
    width: 100%;
    padding: 0 60px;
    padding-top: 15px;
    background-color: rgb(71, 42, 42);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2{
    font-size: 40px;
    cursor: pointer;
}
span
{
    color: red;
}
nav ul li
{
display: inline-block;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin: 0 12px;
}
nav ul li a:hover{
    color: #ff004f;
}
.active{
    color: #ff004f;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
}
.info h1{
    font-size: 70px;
}
.info p{
    font-size: 15px;
    margin-top: 20px;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    padding: 8px 30px;
    border-radius: 4px;
    font-size: 18px;
    background-color: #ff004f;
    color: white;

}
button:hover
{
   background-color: white;
   color: #ff004f; 
}
.content-img img{
    width: 400px;

}
a
{
cursor: pointer;
}

/*...........media query...........*/

@media only screen and (max-width:500px)
{
    .container{
        height: 100%;

    }
    .nav-bar{
        padding: 15px 20px;
    }
    .content{
        flex-direction: column;
        padding: 0;
    }
    .info{
        padding: 0 30px;
        margin-top: 40px;
    }
    .info h2{
        font-size: 20px;
    }
    .info h1{
        font-size: 50px;
        margin: 8px 0;
    }
    .content-img img{
        width: 350px;
    }
   
}
